<table class="table tableStripped">
    <tr>
        <td>Room Name</td>
        <td></td>
        <td></td>
        <td></td>
    </tr> 
    <tr>
        <td></td>
        <td>Area</td>
        <td>btu Heat</td>
        <td>btu cool</td>
    </tr> 
    <tr>
        <td>Gross Wall</td>
        <td>0</td>
        <td></td>
        <td></td>
    </tr> 
    <tr>
        <td>Windows</td>
        <td></td>
        <td></td>
        <td></td>
    </tr> 
    <tr>
        <td>North</td>
        <td>20</td>
        <td>560</td>
        <td>288</td>
    </tr> 
    <tr>
        <td>NE/NW</td>
        <td>20</td>
        <td>560</td>
        <td>288</td>
    </tr>
    <tr>
        <td>South</td>
        <td>20</td>
        <td>560</td>
        <td>288</td>
    </tr> 
    <tr>
        <td>East</td>
        <td>20</td>
        <td>560</td>
        <td>288</td>
    </tr>
    <tr>
        <td>West</td>
        <td>20</td>
        <td>560</td>
        <td>288</td>
    </tr>  
    <tr>
        <td>SkyLight</td>
        <td>20</td>
        <td>560</td>
        <td>288</td>
    </tr>  
    <tr>
        <td>Doors</td>
        <td>20</td>
        <td>560</td>
        <td>288</td>
    </tr> 
    <tr>
        <td>Net Walls</td>
        <td>20</td>
        <td>560</td>
        <td>288</td>
    </tr> 
    <tr>
        <td>Ceiling</td>
        <td>20</td>
        <td>560</td>
        <td>288</td>
    </tr> 
    <tr>
        <td>Floor-crawl</td>
        <td>20</td>
        <td>560</td>
        <td>288</td>
    </tr> 
    <tr>
        <td>Floor-open</td>
        <td>20</td>
        <td>560</td>
        <td>288</td>
    </tr> 
    <tr>
        <td>Floor-slab</td>
        <td>20</td>
        <td>560</td>
        <td>288</td>
    </tr> 
    <tr>
        <td>Insulation</td>
        <td>20</td>
        <td>560</td>
        <td>288</td>
    </tr> 
    <tr>
        <td>People</td>
        <td>1</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Applicance</td>
        <td></td>
        <td></td>
        <td>0</td>
    </tr> 
    <tr>
        <td>Duct loss/gain</td>
        <td></td>
        <td>1283</td>
        <td>2752</td>
    </tr> 

</table>