<style>
.dialogAlert {
    min-height: 50px;
    min-width: 300px;
    border: solid 3px;
    font-family: Arial !important;
    font-size: 12px;
    font-weight: normal;
    color: #000000;
}
.dialogAlertHeader {
    min-height: 15px;
    padding: 10px;
    /*border-bottom: 1px solid black;*/
}
.dialogAlertBody {
    min-height: 50px;
    padding: 10px;
}
</style>
<form data-ng-submit="closeThisDialog()" ng-enter="closeThisDialog()">
    <div data-ng-controller="DialogAlertCtrl" id="divngdialog" data-ng-form="formDialogAlert"
    class="dialogAlert" data-ng-style="dialogBorderColor(alertSeverity)">
        <div class="dialogAlertHeader">
            <span data-ng-class="alertSeverity" data-ng-bind="alertMsg"></span>
        </div>
        <div class="dialogAlertBody">
            <!--<div><span data-ng-bind="alertMsg"></span></div>-->
            <div style="text-align:center;">
                <button type="submit" data-ng-disabled="loadingIndicator">Ok</button>
            </div>
        </div>
    </div>
</form>