    td input {
        min-width: 100px;
    }

    td select {
        min-width: 100px;
    }

    .slateBackground {
        background-color: lightsteelblue;   
    }

    .bisque.jumbotron{
        background-color: bisque;
    }

    .coral.jumbotron{
        background-color:coral
    }

